<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{{url_for('task_1')}}">
        <button type="submit">
            Задача 1
        </button>
    </a>
    <form action="{{url_for('task_2')}}" method="get">
        <input type="submit" value="Задание 2">
    </form>
    <form action="{{url_for('task_3')}}" method="get">
        <input type="submit" value="Задание 3">
    </form>
    <form action="{{url_for('task_4')}}" method="get">
        <input type="submit" value="Задание 4">
    </form>
    <form action="{{url_for('task_5')}}" method="get">
        <input type="submit" value="Задание 5">
    </form>
    <form action="{{url_for('task_6')}}" method="get">
        <input type="submit" value="Задание 6">
    </form>
    <form action="{{url_for('task_7')}}" method="get">
        <input type="submit" value="Задание 7">
    </form>
    <form action="{{url_for('task_8')}}" method="get">
        <input type="submit" value="Задание 8">
    </form>
    <form action="{{url_for('task_9')}}" method="get">
        <input type="submit" value="Задание 9">
    </form>
</body>
</html>