<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{{url_for('task_1')}}">
        <button type="submit">
            Задача 1
        </button>
    </a>
    <form action="{{url_for('task_2')}}" method="get">
        <input type="submit" value="Задача 2">
    </form>
    <form action="{{url_for('task_3')}}" method="get">
        <input type="submit" value="Задача 3">
    </form>
    <form action="{{url_for('task_4')}}" method="get">
        <input type="submit" value="Задача 4">
    </form>
    <form action="{{url_for('task_5')}}" method="get">
        <input type="submit" value="Задача 5">
    </form>
        

</body>
</html>