<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="styles.css">
    <title>{% block title %} Мой сайт {% endblock %}
    </title>
</head>
<body>
    <div class="container-fluid">
        <ul class="nav nav-pills justify-content-end align-items-end">
            <li class="nav-item">
                <a href="/main/" class="nav-link">главная</a>
            </li>
            <li class="nav-item">
                <a href="/clothes/" class="nav-link">Одежда</a>
            </li>
            <li class="nav-item">
                <a href="/shoes/" class="nav-link">Обувь</a>
            </li>
            <li class="nav-item">
                <a href="/jacket/" class="nav-link">Куртка</a>
            </li>
        </ul>
    </div>
    <div>
        {% block content %}
        Страница не заполнена
        {% endblock %}
    </div>

    <div class="row fixed-bottom modal-footer">
        <p>подвал</p>
        <p>Созданно Писарев Николай Владимирович</p>
    <p>Все права защищены &copy;</p>
    </div>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
